.cardContainer {
  display: flex;
  flex-direction: column;
  will-change: transform;
  /* background-color: #ffffff; */
  border: 1px solid var(--gray);
  border-radius: var(--border-radius-xs);
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  margin: 0 auto;
  max-width: 40rem;
  height: 100%;
  transition: transform 0.2s ease-out;
}

.cardContainer:hover {
  transform: scale(1.05);
}

.cardImage {
  position: relative;
  height: 20rem;
  width: 100%;
  overflow: hidden;
}

.image {
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.cardContainer:hover .image {
  transform: scale(1.1);
}

.wrapper{
  height: calc((100% - 20rem));
  display: flex;
  flex-direction: column;
  gap: var(--spacings-m);
  padding: var(--spacings-l) var(--spacings-sm) var(--spacings-sm) var(--spacings-sm);
}

.cardContent {
/* Card_Content */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacings-ml);

  height: fit-content;


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.header{
/* Frame */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: var(--spacings-m);
  
  overflow: hidden;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.title {
/* The Power of Mindful Mornings */

  font-weight: 500;
  font-size: var(--font-sizes-s-text);
  letter-spacing: 0.02em;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: ellipsis;
  color: var(--black);


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.excerpt {
/* Disdnsijfijdifdifjij Disdns ijfijdifdifjij Disdns ijfijdifdifjij Disd nsijfijdifdifjij */

  font-weight: 400;
  font-size: var(--font-sizes-xs-text);
  letter-spacing: 0.02em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: ellipsis;
  /* Dark Gray */
  color: #2C2D31;


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.cta{
/* Read more */
  margin-top: auto;
  font-weight: 400;
  font-size: var(--font-sizes-xs-text);
  letter-spacing: 0.02em;
  text-decoration-line: underline;

  /* Dark Gray */
  color: #2C2D31;


  /* Inside auto layout */
  flex: none;
  order: 1;
  justify-self: flex-end;
  align-self: stretch;
  flex-grow: 0;
}

.readTime {
/* Read_Time */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--spacings-xs) var(--spacings-sm);

  width: fit-content;
  height: fit-content;

  /* Gold */
  background: var(--gray);
  border-radius: var(--border-radius-pill);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.readTime .label{
/* 8 min read */

  font-weight: 400;
  font-size: var(--font-sizes-xs-text);
  letter-spacing: 0.02em;

  /* White */
  color: #FCFDF8;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}