.mainContainer {
  background-color: var(--white);
  max-width: 80rem;
  margin: 0 auto;
}

.headerBar {
  line-height: 1.6;
  font-size: var(--font-sizes-xs-text);
  background-color: var(--white);
  border-bottom: 1px solid #e9ecec;
}

.headerContent {
  padding: var(--spacings-sm);
}

.backLink {
  user-select: none;
  cursor: pointer;
  gap: var(--spacings-xs);
  color: var(--gold);
  font-weight: 600;
  font-size: var(--font-sizes-xs-text);
  transition: opacity 0.2s;
  text-decoration: none;
}

.backLink:hover {
  opacity: 0.8;
}

.featuredImage {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 1;
  overflow: hidden;
}

.coverImage{
  height: auto !important;
}

/* 
@media (min-width: 640px) {
  .featuredImage {
    height: 24rem;
  }
} */

.contentWrapper {
  margin: 0 auto;
  max-width: 80rem;
  padding-top: var(--spacings-l);
}

.header {
  margin-bottom: var(--spacings-lg);
  border-bottom: 1px solid #e9ecec;
  padding-bottom: var(--spacings-sm);
}

.postTitle {
  color: var(--black);
  margin-bottom: var(--spacings-sm);
  font-size: var(--font-sizes-s-text);
  font-weight: 700;
}

@media (min-width: 640px) {
  .postTitle {
    font-size: var(--font-sizes-l-text);
  }
}

.metaData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--spacings-sm);
  align-self: stretch;
}

.readTime {
  color: var(--gold);
  font-size: var(--font-sizes-xs-text);
  font-weight: 500;
}

.date {
  color: var(--dark-gray);
  font-size: var(--font-sizes-xs-text);
}

.article {
  color: var(--dark-gray);
}

.articleHeading {
  color: var(--black);
  font-size: var(--font-sizes-s-text);
  margin-top: var(--spacings-sm);
  margin-bottom: var(--spacings-sm);
  font-weight: 700;
}

.articleList {
  margin-bottom: var(--spacings-sm);
  list-style-position: inside;
  color: var(--dark-gray);
}

.articleList li {
  font-size: var(--font-sizes-xs-text);
  margin-bottom: var(--spacings-xs);
}

.articleParagraph {
  font-size: var(--font-sizes-xs-text);
  margin-bottom: var(--spacings-sm);
  color: var(--dark-gray);
}

.footer {
  line-height: 1.6;
  font-size: var(--font-sizes-xs-text);
  margin-top: var(--spacings-l);
  border-bottom: 1px solid #e9ecec;
  padding-top: var(--spacings-sm);
}
